.task-item-container {
    display: flex;
    flex-direction: row;
    width : 100%;
    justify-content: space-between;
}
.task-label {
    align-self: flex-start;
}
.task-button {
    align-self: flex-end;
}
.done {
    text-decoration: line-through;
}